@model LaborDay.Models.MainView
@{
    ViewData["Title"] = "LaborDay";
}

<style>
    table {
        border-collapse: collapse;
        width: 100%;
    }

    th, td {
        padding: 8px;
        text-align: left;
        border-bottom: 1px solid #ddd;
    }
    tr:nth-child(even) {
        background-color: #f2f2e2;
    }
</style>
<link rel="stylesheet" href="~/css/mainview.css" />
<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<!-- Bootstrap CSS -->
	<META HTTP-EQUIV="refresh" CONTENT="3">
</head>
<h2>Labor Day 2018 </h2>
<body>
    <table class="phone">
        <tr>
            <th>First Name</th>
            <th>Win</th>
            <th>Place</th>
            <th>Show</th>
        </tr>
        @foreach (var g in Model.golferList)
        {
            <tr>
                <td><label>@g.GolferName</label></td>
                <td>
                    @if (Model.WinList.Where(w => w.ID == g.ID).Count() == 0)
                    {<label>0</label>}
                    else
                    {<label>@Model.WinList.Where(w => w.ID == g.ID).First().Wins</label>}
                </td>
                <td>
                    @if (Model.PlaceList.Where(w => w.ID == g.ID).Count() == 0)
                    {<label>0</label>}
                    else
                    {<label>@Model.PlaceList.Where(w => w.ID == g.ID).First().Places</label>}
                </td>
                <td>
                    @if (Model.ShowList.Where(w => w.ID == g.ID).Count() == 0)
                    {<label>0</label>}
                    else
                    {<label>@Model.ShowList.Where(w => w.ID == g.ID).First().Shows</label>}
                </td>
            </tr>
        }
    </table>
    <!--
            <div class="grid-container">
                <div class="columnHeaderG">Golfer</div>
                <div class="columnHeaderS">Win</div>
                <div class="columnHeaderS">Place</div>
                <div class="columnHeaderSh">Show</div>
                <div>&nbsp;</div>
                <div class="columnHeaderG">Golfer</div>
                <div class="columnHeaderS">Win</div>
                <div class="columnHeaderS">Place</div>
                <div class="columnHeaderSh">Show</div>
                <div>&nbsp;</div>
                <div class="columnHeaderG">Golfer</div>
                <div class="columnHeaderS">Win</div>
                <div class="columnHeaderS">Place</div>
                <div class="columnHeaderSh">Show</div>
                <div>&nbsp;</div>
                @foreach (var g in Model.golferList)
            {
                <div class="form-group">
                    <label value="@g.GolferName" />
                </div>
                <div class="score">
                    @if (Model.WinList.Where(w => w.ID == g.ID).Count() == 0)
                {<label>0</label>}
            else
            { @Model.WinList.Where(w => w.ID == g.ID).First().Wins}
                </div>
                <div class="score">
                    @if (Model.PlaceList.Where(w => w.ID == g.ID).Count() == 0)
                {<label>0</label>}
            else
            { <label>@Model.PlaceList.Where(w => w.ID == g.ID).First().Places </label>}
                </div>
                <div class="scoreS">
                    @if (Model.ShowList.Where(w => w.ID == g.ID).Count() == 0)
                {<label>0</label>}
            else
            { <label>@Model.ShowList.Where(w => w.ID == g.ID).First().Shows </label>}
                </div>
                <div>&nbsp;</div>

        }
            </div>

        -->
</body>
